:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1f3c64;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary: #1f3c64;
  --color-secondary: #597458;
  --color-tertiary: #1a1a1a;
  --color-accent: #ff6b6b;
  --color-accent-dark: #ff3d3d;
  --color-accent-light: #ff9e9e;
  --color-accent-lighter: #ffdbdb;
  --color-accent-lightest: #fff5f5;
  --color-accent-darkest: #cc0000;
  --radius:0.2rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  // margin: 2rem;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
//for Header.jsx
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  p{
    font-size: 1.5rem;
    font-weight: bold;
    
    flex-direction: row;
  }
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
//for Nav.jsx
.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-tertiary);
  box-shadow: 0 2px 20px var(--color-secondary);
  &_Link {
    font-size: 1rem;
    font-weight: bold;
    justify-content: space-evenly;
  }
}

//For Home.jsx
.Homepage{
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // gap: 2rem;
  // padding: 2rem;
  background-color: var(--color-primary);
  box-shadow: 0 2px 20px var(--color-secondary);
  &_Row{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--color-tertiary);
    box-shadow: 0 2px 20px var(--color-secondary);
    width: 100%;
  }
  &_About,&_Portfolio,&_Resume,&_Contact{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
    padding: 2rem;
    cursor: pointer;
    background-color: var(--color-tertiary);
    border-radius: --radius;
    box-shadow: 0 2px 20px var(--color-secondary);
    transition:  transform 200ms ease-in color;
    &:hover {
      transform: scale(1.02);
    }
  }
  

}



.single-project{
  font-family: 'Courier New', Courier, monospace;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16em));
  gap: 1rem;
  justify-content: center;
}

.card {
  font-family: var(--card-font-family);
  overflow: hidden;
  background-color: var(--color-secondary);
  box-shadow: 0 2px 20px var(--color-tertiary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border-radius: --radius;
  transition:  transform 200ms ease-in color;
  &_title {
    padding: 1rem;
    text-align: center;
  }
  &_description {
    padding:0 1rem;
    font-size: 1em;

  }
  &_img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
  }
  &_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_link,&_repo{
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid var(--color-primary);
    background: transparent;
    color: var(--color-primary);
    border-radius: var(--radius);
    transition: background-color 200ms ease-in, color 200ms ease-in;
  }
  &:hover {
    transform: scale(1.02);
  }
  &_link:hover, &_repo:hover{
    color: white;
    background-color: var(--color-primary);
  }
}

.About{
  font-family: 'Courier New', Courier, monospace;
  &_title{
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
    text-align: center;
  }
  &_description{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  &_img{
    width: 25%;
    object-fit: cover;
  }
  &_div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    // align-items: center;
  }
}

.Resume{
  font-family: 'Times New Roman', Times, serif;
  &_Work{
  &_Div{
   padding-left: 25px;
   border-bottom: #1a1a1a 1px solid;
  }
  &_Title{
    font-size: 2rem;

  }
  &_Company, &_Location, &_Date{
    padding-left: 10px;
    font-size: 1.25rem;
  }
  &_Info{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
  }
}
&_Education{

  &_Div{
    padding-left: 25px;
    border-bottom: #1a1a1a 1px solid;
   }
  &_Title{
    width: 100%;
    font-size: 2rem;
  }
  &_Info{
    font-size: 1.5rem;
  }
}
&_Skill{
  &_Div{
    padding-left: 25px;
    border-bottom: #1a1a1a 1px solid;
   }
  &_Title{
    width: 100%;
    font-size: 1.5rem;
  }
  &_Info{
    padding-left: 10px;
    font-size: 1.5rem;
  }
}

}
.Contact{
  font-family: 'Courier New', Courier, monospace;
  &_Title{
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
    text-align: center;
  }
  &_Form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  &_FullName, &_Info{
    display: flex;
    flex-direction: row;
    width: 75%;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  &_First, &_Last, &_Email, &_Number, &_Message{
    width: 50%;
    display: flex;
    flex-direction: row;
    &_Input{
      width: 100%;
    }
  }
  &_Email, &_Number{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

 
}
@media screen and (max-width:400px){
}
@media screen and (max-width:600px) {
  .Homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--color-primary);
    box-shadow: 0 2px 20px var(--color-secondary);
    &_Row{
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 2rem;
      background-color: var(--color-tertiary);
      box-shadow: 0 2px 20px var(--color-secondary);
      width: 100%;
    }
  }
  .About{
    &_img{
      width: auto;
    }
    &_div{
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      // align-items: center;
    }
  }
  .Contact{
    &_FullName, &_Info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    &_First, &_Last{
      width: 100%;
      display: flex;
      flex-direction: column;
      &_Input{
        width: 100%;
      }
    }
    &_Email, &_Number{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    &_Message{
      width: 100%;
      height: 200px;
      display: flex;
      flex-direction: column;
      &_Input{
        width: 100%;
        max-width:500px;
        height: 100%;     
      }
    }
  }
  
}